@font-face {
    font-family: 'CRK';
    src: url('/crk_font/cookierun_regular-webfont.woff');
  }
  
  h2{
    text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
    color: white;
    text-align: center;
  }
  
  #myModal {
    display: block;
  }
  
  #info {
    display: block;
  }
  
  body {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin:5%;
    border:5%;
  }
  
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
  }
  /* displays the probabilities of each rarity */
  .info_card {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
  }
  /* end */
  .p1{
    color: black;
    font-family: 'Lucida Sans';
    font-size: 30px;
    text-align: center;
  }
  
  .modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    width: 80%;
    border-radius: 25px;
  }
  
  .info-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    width: 80%;
    border-radius: 25px;
  }
  
  .close {
    color: grey;
    float: right;
    font-size: 30px;
    font-weight: bold;
    display:block;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(104, 107, 109);
    text-decoration: none;
    cursor: none;
  }
  
  .closebtn {
    color: grey;
    float: right;
    font-size: 30px;
    font-weight: bold;
    display:block;
  }
  
  .button1{
    background: transparent;
    color: white;
    filter: alpha(opacity=90);
    font-family: 'Lucida Sans';
    font-size: 18px;
    border-radius: 20px;
    width:120px;
    position: absolute;
    top: 10%;
    right: 110px;
    filter: drop-shadow(4px 4px 4px #828282);
    text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
  }
  
  .percent{
  width: 100%;
  border-radius: 20px;
  }
  
  .history{
      background: transparent;
      color: white;
      filter: alpha(opacity=90);
      font-family: 'Lucida Sans';
      font-size: 18px;
      border-radius: 20px;
      width:120px;
      position: absolute;
      top: 20%;
      right: 110px;
      filter: drop-shadow(4px 4px 4px #828282);
      text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }
  
  
  .banner{
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #000000;
  }
  #borderbanner { 
    border: 10px solid transparent;
    padding: 5px;
    border-image: url(../assets/images/border3.png) 30 round;
  }
  
  .button2{
    background: transparent;
    color: white;
    filter: alpha(opacity=90);
    font-family: 'Lucida Sans';
    font-size: 18px;
    border-radius: 20px;
    width:120px;
    position: absolute;
    top: 30%;
    right: 110px;
    filter: drop-shadow(4px 4px 4px #828282);
    text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
  }
  
  .container {
    position: relative;
  }
  
  .draw1{
    border-radius: 25px;
    float: right;
    border: none !important;
    z-index:-1;
    width: 180px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .draw10{
    border-radius: 25px;
    float: right;
    border: none !important;
    z-index: -1;
    margin-right: 50px;
    width: 180px;
    margin-bottom: 20px;
    margin-top: 20px;
  }