
h3{
    font-family: CRK;
    text-align: center;
    text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
    color: white;
  }
  
  
  @font-face {
    font-family: 'CRK';
    src: url('/crk_font/cookierun_regular-webfont.woff');
  }
  
  #info {
    display: block;
  }

  .info_card {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
  }

  .info-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    width: 80%;
    border-radius: 25px;
  }

  

  h2{
    text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
    color: white;
    text-align: center;
  }
  
  #myModal {
    display: block;
  }
  
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
  }
  
  .p1{
    color: black;
    font-family: 'Lucida Sans';
    font-size: 30px;
    text-align: center;
  }
  
  .modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    width: 80%;
    border-radius: 25px;
  }
  
  .close {
    color: grey;
    float: right;
    font-size: 30px;
    font-weight: bold;
    display:block;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(104, 107, 109);
    text-decoration: none;
    cursor: pointer;
  }
  
  .button1{
    background: transparent;
    color: white;
    filter: alpha(opacity=90);
    font-family: 'Lucida Sans';
    font-size: 18px;
    border-radius: 20px;
    width:120px;
    position: absolute;
    top: 10%;        /* 20px */
    right: 110px;
    filter: drop-shadow(4px 4px 4px #828282);
    text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
  }
  
  .history{
    background: transparent;
    color: white;
    filter: alpha(opacity=90);
    font-family: 'Lucida Sans';
    font-size: 18px;
    border-radius: 20px;
    width:120px;
    position: absolute;
    top: 20%;
    right: 110px;
    filter: drop-shadow(4px 4px 4px #828282);
    text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
  }

  .button2{
    background: transparent;
    color: white;
    filter: alpha(opacity=90);
    font-family: 'Lucida Sans';
    font-size: 18px;
    border-radius: 20px;
    width:120px;
    position: absolute;
    top: 30%;
    right: 110px;
    filter: drop-shadow(4px 4px 4px #828282);
    text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
  }

  .close {
    color: grey;
    float: right;
    font-size: 30px;
    font-weight: bold;
    display:block;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(104, 107, 109);
    text-decoration: none;
    cursor: pointer;
  }
  
  .closebtn {
    color: grey;
    float: right;
    font-size: 30px;
    font-weight: bold;
    display:block;
  }

  .percent{
  width: 100%;
  border-radius: 20px;
  }
  
  .banner{
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #000000;
  }
  #borderbanner { 
    border: 10px solid transparent;
    padding: 5px;
    border-image: url(../assets/images/border3.png) 30 round;
  }
  
  .container {
    position: relative;
<<<<<<< HEAD
    max-height: auto;
  }

=======
  }
  
>>>>>>> parent of 2c724df... try deploy to vercel
  .draw1{
    border-radius: 25px;
    float: right;
    border: none !important;
    z-index:-1;
    width: 180px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .draw10{
    border-radius: 25px;
    float: right;
    border: none !important;
    z-index: -1;
    margin-right: 50px;
    width: 180px;
    margin-bottom: 20px;
    margin-top: 20px;
  }