
.container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .container video {
   position: relative;
    display: inline-block;
  }
  
  .skip {
    font-family: CRK;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(791%, -800%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 8px;
    text-align: center;
    padding: 4px 37px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .success {
    background-color: black;
    color: white;
    border-color: white;
  }
  
  .success:hover {
    background-color: white;
    color: black;
    border-color: white;
  
  }
  
  .homebtn{
      text-align:center;
      background-color: white;
      border: none;
      color: black;
      padding: 12px 16px;
      font-size: 16px;
      cursor: pointer;
      border: 2px solid black;
  }
  
  .homebtn:hover {
    background-color: #A9A9A9;
  }
  .green {
    border-color: #04AA6D;
    color: green;
  }
  
  .green:hover {
    background-color: #04AA6D;
    color: white;
  }

  .ftbtn{
    text-align:center;
    background-color: white;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-color: #e7e7e7;
    border: 2px solid pink;
}

.pink {
  border-color: pink;
  color: pink;
}

.pink:hover {
  background: pink;
  color: white;
}


  .p1{
    color: black;
    font-family: 'Lucida Sans';
    font-size: 30px;
    text-align: center;
  }
  
  .results{
    font-family: CRK;
    text-align: center;
    /* text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000; */
    color: white;
  }
  
  #shadowBox {
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.2);
      /* Black w/opacity/see-through */
      border: 3px solid;
  }
  
  .rainbow {
      text-align: center;
      text-decoration: underline;
      font-size: 32px;
      font-family: monospace;
      letter-spacing: 5px;
  }

  .Common {
    background: linear-gradient(to right , #fff, #a7a7a7 );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

.Rare {
    background: linear-gradient(to right , #6666ff, #0099ff , #00ff88);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}
  
.Epic {
    background: linear-gradient(to right , #ee00ff, #ee52b2, #6200ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

.Legendary {
    background: linear-gradient(to right , #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.cookieforest{
    background-image: url(../assets/images/animalsbg.jpg);
    height: 100vh;
    width: 100%; 
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    position: relative;
}

img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}